body {
    background-color: #e3e6e4;
}

h1 {
    text-align: center;
}

#formulario {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 500px;
    display: block;
    border-radius: 5px;
    background-color: transparent;
}

#idImportancia {
    background-color: transparent;
}

#divButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#btnOrdenar {
    margin-bottom: 10px;
}

button {
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

select {
    border-radius: 5px;
}

table, th, tr,td {
    border: 1px solid #000000;
}

table {
    margin: auto;
}

table td {
    text-align: center;
    padding: 0 5px;
}

h2 {
    text-align: center;
}

td button {
    display: block;
    margin: 5px 0 5px 0;
    width: 4.5rem;
    padding: 5px;
}

button {
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}
